<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <h1>Kho xe ô tô</h1>
            <form action="/upload-car" method="post" enctype="multipart/form-data">
                <input type="file" name="data" id = "input">
                <input type="submit" value="Upload file" name="dataCar">
            </form>
        </div>

        <div class="jumbotron">
            <h1>Thêm dữ xe máy</h1>
            <form action="/upload-moto" method="post" enctype="multipart/form-data">
                <input type="file" name="data" id = "input_moto">
                <input type="submit" value="Upload file" name="dataMoto">
            </form>
        </div>

        <div class="jumbotron">
            <h1>Thêm dữ xe partner</h1>
            <form action="/upload-vehicle-partner" method="post" enctype="multipart/form-data">
                <input type="file" name="data" id = "input_vehicle_partner">
                <input type="submit" value="Upload file" name="dataMoto">
            </form>
        </div>

        <div class="jumbotron">
            <h1>Thêm dữ liệu partner</h1>
            <form action="/upload-partner" method="post" enctype="multipart/form-data">
                <input type="file" name="data" id = "input_partner">
                <input type="submit" value="Upload file" name="dataPartner">
            </form>
        </div>
    </main>

    <footer>


    </footer>
    <script>
    
    </script>
  
</body>

</html>